numpy==1.22.3
pandas==1.4.1
matplotlib==3.5.1
nltk==3.6.7
scipy==1.8.0
scikit_learn==1.0.2
transformers==4.17.0
datasets==2.0.0
torch==1.11.0
adapter-transformers==3.0.0
tensorboard==2.7.0
#wandb
#loralib==0.1.1